// File: scss/_custom.scss
// option A: Include all of Bootstrap

// Inclide any default variable overrides here
$primary: #2C5F34; // Custom primary color
$secondary: #A5DBA7; // Custom secondary color
$info: #CCEBFD; // Custom accent color
$light: #F5F5DC; // Custom header/footer color
$warning: #FF0000; // Custom error color
$font-familly-sans-serif: "Montserrat", sans-serif !default; // Custom font family
$font-familly-serif: "Roboto", serif !default; // Custom font family



@import "../node_modules/bootstrap/scss/bootstrap"; // Import Bootstrap styles
