@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

html{
    position: relative;
    min-height: 100%   ;
}

main{
    margin-bottom: 500px; ;
}

footer.footer {
  padding: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

p {
  font-family: $font-familly-serif;
  font-size: 18px;
}

.hero-scene {
 background-image: url('../images/pathway-3596034_1280.jpg');
 background-size: cover; 
 margin-bottom: 15px;
}

.hero-scene-content {
 height: 300px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

.hero-scenebottom {
background-image: url('../images/road-7349232_1280.jpg');
background-size: cover;
}

.hero-scene-contentbottom {
 height: 300px;

}

.text-justify {
  text-align: justify
}

.form-label{
  color: $primary
}

.trajet-eco {
  border-left: 4px solid #28a745;
  background-color: $secondary;
}
    
.trajet {
  display: block;
}

.hidden { 
  display: none; 
}




